/* .row{
  font-size: 12px;
}

.nav-link{
  text-decoration: none;
  color: #fff;
}

.box1{
background: #5e3b1b;
} */
/* .navbar{
background: #5e3b1b;
font-size: 12px;
} */



.nav-link:hover{
  background-color:#7e4716;
}