
html{
  font-size : 14px;
}
/*
---------------------------------------------
ヘッダー
---------------------------------------------
*/
.navbar{
  background-color:#5e3b1b;
}
.nav-link:hover{
  background-color:#ff9933;
  opacity:0.5;
}
.layout_form{
  display: none;
}

/*
---------------------------------------------
連絡事項.一覧表示
---------------------------------------------
*/
.contact-index_table{
  font-size : 12px;
}
.content-index_label{
  background: #e9e1de;
}

/*
---------------------------------------------
連絡事項.新規登録
---------------------------------------------
*/
.contact-new_label{
  background-color:#e9e1de;
  border-color:red;
}
.contact-form_btn .contact-new_submit{
  background-color: #ef7709;
}

/*
---------------------------------------------
連絡事項.詳細ページ
---------------------------------------------
*/
.show-from .contact-delete{
  color: #ef7709;
}
.show-from  .contact-edit{
  background-color: #ef7709;
}

/*
---------------------------------------------
勤怠登録画面
---------------------------------------------
*/

.attendance .work-start{
  background-color: #ef7709;
}

.attendance .color-gray{
  background-color: #6c757d;
}

/*
---------------------------------------------
勤怠一覧画面
---------------------------------------------
*/
table .work-index_title{
  background: #e9e1de;
}

.table .work-sunday{
  color:#d42f61;
  background-color:#fbeef2;
}

/*
---------------------------------------------
システム設定画面
---------------------------------------------
*/
.work-system .work-system_time{
  background-color: #ef7709;
}

/*
---------------------------------------------
勤怠承認画面
---------------------------------------------
*/
.work-list .submit-approval{
  background-color: #ef7709;
}

/* 
---------------------------------------------
共通
---------------------------------------------
*/
/* .table .hover_none{
  pointer-events: none;
} */